/* 
    controle paneel 
*/

.control-panel {
    height: 10%;
    width:  100%;
    background-color: #ffffff; 
    padding: 0% 1%;
}

.control-panel .tile {
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding-top: 0.5%;
    color: white;
    background-color: #3b444b; 
    font-size: 250%;
    text-align: center;
}

.control-panel .tile:hover {
    color: rgb(226,69,16);
}

.control-panel h1{
    float: right;
}

.control-panel h2{
    float: right;
    margin-right: 10em;
    padding-top: 0.5em;
    text-transform: uppercase;
    text-shadow: 0.05em 0.05em #000;
    color: #d4cece;
}

/*de eerste letters van de titel in 
    het control-panel*/
.firstletter{
    font-size: 120%;
    color: #f00;
    text-shadow: 0.05em 0.05em #000;
}