@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-r86r1j');
	src:url('fonts/icomoon.eot?#iefix-r86r1j') format('embedded-opentype'),
		url('fonts/icomoon.woff?-r86r1j') format('woff'),
		url('fonts/icomoon.ttf?-r86r1j') format('truetype'),
		url('fonts/icomoon.svg?-r86r1j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ALGEMENE HTML ELEMENTEN */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 100%;
}


/* KLEURENPALET */

.room > div:nth-child(1){
     background-color: rgb(122,138,10); /*olive green*/
}

.room > div:nth-child(2){
     background-color: rgb(159,79,79); /*copper rust*/   
}

.room > div:nth-child(3){
     background-color: rgb(142,82,10); /*saddlebrown*/   
}

/*toekomstgericht*/
/*wedgewood blue 
.room > div:nth-child(4){
     background-color: rgb(71,108,130);   
}*/

/*indigo purple
.room > div:nth-child(5){
     background-color: rgb(83,8,93);   
}*/


/*STARTPAGINA NIET INGELOGD*/

#startpage{
    width: 100%;
    height: 100%;
    text-align: center;
    background: black;
}

#startpage div:nth-child(1){
    height: 50%;
    width: 100%;
    background-color: #dad9d9;
    font-size: 200%;
    padding-top: 1em;
    color: black; 
}

#startpage div:nth-child(2){
    height: 50%;
    width: 100%;
    background-color: rgba(122,138,10,0.9);
}

#startpage div:nth-child(2):hover a span{
    color: red; 
}

#startpage a{
    display: block;
    text-decoration: none;
    color: #dad9d9;
    height: 100%;
    width: 100%;
    padding-top: 3em;
}

#startpage a span{
    padding-bottom: 1em;
    font-size: 700%;
    text-shadow: 0.05em 0.05em black;
}

#startpage a h1{
    font-size: 110%;
    text-shadow: 0.05em 0.05em black;
}

#startpage .firstletter{
    font-size: 200%;
}


/*STACKED LAYOUT
 *  
 *  scherm in 3 trapsgewijzge delen, elk deel wordt een
 *  stacked-page genoemd
 */


/*om het trapsgewijs effect te krijgen*/
.stacked > div:first-child,
.stacked > div:first-child > div:first-child{
    background-color: rgba(255,255,255,0.1);
}

/*kleuren*/

.room.copper-rust .stacked{
    background-color: rgba(159,79,79,0.7);
}

.room.olive-green .stacked{
    background-color: rgba(122,138,10,0.7);
}

/*padding waarden*/

.room .stacked{
    padding: 0.5%;
}

.room .stacked div{
    padding: 0.3%;
}

/*containers algemeen*/

.stacked-page > div:first-child:not([class*=popup]){
    height: 90%;
    margin-top: 5%;
}

.stacked-page h3 + div:not([class="half-page"]){
    height: 80%;
    width: 100%;
}

.stacked-page h3 + div.half-page{
    height: 35.5%;
    width: 100%;
}

/*containers specifiek*/

#searchMkp{
    height: 40%;
    width: 80%;
    margin-top: 1em;
}

.MkpBasics, 
.inputsCylKey{
    height: 100%;
    width: 100%;
    text-align: left;
}

#MkpStartBasics{
    display: none;
}

#selectCylsOnKey{
    height: 17.5%;
}

/*buttons containers*/

.stacked-page .button-x3{
    height: 33.33%;
    width: 100%;
    text-transform: uppercase;
}

.stacked-page .button-x4{
    height: 25%;
    width: 100%;
    text-transform: uppercase;
}

.stacked-page .buttonsMkpInput{
    height: 15%;
    width: 100%;
}

.stacked-page div.buttonsMkpAction{
    height: 11%;
    width: 100%;
    background-color: rgba(255,255,255,0.2);
    border-top: 3px solid rgba(255,255,255,0.8);
    padding: 0.2em;
}

/*buttons*/

.stacked-page button{
    height: 50%;
    width: 50%;
    background-color: rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.4);
    color: #fff;
    margin-top: 2em;
}

.stacked-page button:hover{
    background-color: rgba(255,255,255,0.4);
    color: black;
}

.stacked-page .button-small{
    height: 40%;
    width: 20%;
    margin-top: 0;
}

.stacked-page .buttonsMkpInput button{
    width: 20%;
    height: 80%;
    font-size: 150%;
    margin-top: 0.5em;
    background-color: rgba(0,0,0,0.3);
}

.stacked-page .buttonsMkpAction button{
    width: 25%;
    height: 100%;
    font-size: 150%;
    margin: 0 1em 0 0;
}

#cylOnKeyDelete{
    width: 15%;
    height: 60%;
    margin-right: 1em;
    margin-left: 17.5%;
    font-size: 120%;
    margin-top: 1em;
}

/*images*/

.stacked-page .stacked-picture{
    display: block;
    font-size: 2750%;
    color: rgba(255,255,255,0.4);
    margin-top: 3%;
    width: 95%;
    height: 95%;
}

.stacked-page #image-profile{
    display: none;
    margin-left: 0.02em;
    border: 7px solid rgba(255,255,255,0.4);
    width: 100%;
    height: 100%;
}

/* lijsten containers*/

#containerListCyl, 
#containerListKey,
#containerCylsOnKey{
    height: 73%;
    width: 65%;
    margin-top: 0.5em;
    margin-left: 17.5%;
    border: 2px solid rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.3);
    padding-top: 1em;   
}

/*lijsten*/

.stacked-page ul li{
    background-color: rgba(255,255,255,0.4);
    margin: 0em 1em 1em 1em;
    padding: 1.5em;
    list-style: none;
    color: #000;
}

.stacked-page ul li:hover,
.stacked-page ul li[class*="selected"]{
    background-color: rgba(0,0,0,0.4);
    color: white;
}

.stacked-page ul li[class*="selected"]:after{
    font-size: 125%;
    font-family: icomoon;
    content: "#";
    float: right;
}

#listCyl li, 
#listKey li,
#listCylsOnKey li{
    padding: 0.7em;
}


/*labels*/

.MkpBasics label{
    display: inline-block;
    margin-right: 1em;
    margin-top: 1em;
    vertical-align: top;
}

.MkpBasics label:not([class = "labelShow"]):not([class = "error"]), 
.inputsCylKey label:not([class = "error"]){
    text-align: right;
    width: 40%;  
}

.inputsCylKey label{
    display: inline-block;
    margin-right: 1em;
    margin-top: 2em;
}

.MkpBasics .labelShow{
    width: 45%;
    text-align: left;
    background-color: rgba(255,255,255,0.15);
    padding: 0.2em 1em;
    color: #000;
}

/*form inputs*/

.stacked input[type=text]{
    padding: 0em 0.5em;
}

.MkpBasics textarea{
    width: 75%;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 100%;
    margin-top: 1em;
}

.MkpBasics input[type=text],
.MkpBasics select,
.inputsCylKey input[type=text],
.inputsCylKey select{
    width: 45%;
    margin-top: 1em;
    padding: 0.1em 0em 0.2em 1em;
    background-color: rgba(255,255,255,0.2);
    font-size: 100%;
    border: 1px solid rgba(255,255,255,0.5);
}

.inputsCylKey input[type=text]{
   margin-top: 2em;
}

.inputsCylKey select{
    margin-top: 2em;
}


/* KRUISTABEL */

#mkpTable{
    height: 100%;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.3);
    border-collapse: collapse;
}

#mkpTable td, #mkpTable th {
  border: 1px solid rgba(0,0,0,0.3);
} 


/* USERICOON */

#userIcon{
    position: absolute;
    top: 0.4em;
    right: 13em;
    text-decoration: none;
    font-size: 200%;
    color: grey;
    text-shadow: 0.05em 0.05em red;
}

#userIcon:hover .tooltip{
    display: block;
    position: absolute;
    top: 1em;
    left: 0;
    background-color: grey;
    z-index: 500;
    padding: 0.2em;
    width: 7em;
}

#userIcon a{
    display: block;
    color: white;
    font-size: 60%;
    text-shadow: none;
}


/*EXTRA'S*/

/*om een div verticaal te laten scrollen*/
div[id*="-floor"] .scrollable,
.popup div.scrollable{
    overflow: auto;
    scrollbar-face-color: #444244;
    scrollbar-arrow-color: #444244;
    scrollbar-highlight-color: #dad9d9;
    scrollbar-shadow-color: #dad9d9;  
}

/* tooltip: hovertext standaard niet zichtbaar */
.tooltip{
    display: none;
}

/*placeholder styling*/
::-webkit-input-placeholder { /* WebKit browsers */
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    opacity:  1;
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    opacity:  1;
    font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-style: italic;
}


/* ERRORS */

.error{
    color: #f00;
    position: relative;
}

/*tooltip zichtbaar maken*/
.inputWithError:hover .tooltip{
    display: block;
    background: rgba(0,0,0,0.8);
    color: white;
    position: absolute;
    top: 1em;
    left: -20em;
    right: 0;
    z-index: 1000;
    padding: 0.5em 1em;
}


/* MEDIAQUERIES */

@media screen and (min-width: 100px){
    .stacked-page .stacked-picture{
        font-size: 500%;
    }
    #profile-input{
        font-size: 60%;
    }
    #profile-input input{
        width: 50%;
    }
    #register{
        font-size: 55%;
    }
}
@media screen and (min-width: 500px){
    .stacked-page .stacked-picture{
        font-size: 1000%;
    }
    #profile-input{
        font-size: 70%;
    }
    #profile-input input{
        width: 60%;
    }
}
@media screen and (min-width: 650px){
    .stacked-page .stacked-picture{
        font-size: 1250%;
    }
    #register{
        font-size: 65%;
    }
}
@media screen and (min-width: 750px){
    .stacked-page .stacked-picture{
        font-size: 1500%;
    }
    #register{
        font-size: 70%;
    }
}
@media screen and (min-width: 850px){
    .stacked-page .stacked-picture{
        font-size: 1750%;
    }
    #profile-input{
        font-size: 75%;
    }
    #profile-input input{
        width: 70%;
    }
    #register{
        font-size: 75%;
    }
}
@media screen and (min-width: 950px){
    .stacked-page .stacked-picture{
        font-size: 2000%;
    }
    #profile-input{
        font-size: 80%;
    }
    #register{
        font-size: 85%;
    }
}
@media screen and (min-width: 1100px){
    .stacked-page .stacked-picture{
        font-size: 2250%;
    }
    #profile-input{
        font-size: 90%;
    }
    #register{
        font-size: 100%;
    }
}
@media screen and (min-width: 1200px){
    .stacked-page .stacked-picture{
        font-size: 2500%;
    }
    #profile-input{
        font-size: 100%;
    }
}
@media screen and (min-width: 1350px) and (max-width: 3000px){
    .stacked-page .stacked-picture{
        font-size: 2750%;
    }
    
}