/* 
    floor 
*/

.floor {
    width: 100%;
    height: 100%;
    /* Er is telkens maar 1 div (floor) zichtbaar, dus maken
        we ze allemaal onzichtbaar in het begin, alleen als je
        er naar toe wilt gaan, wordt de div zichtbaar. Daarvoor
        maken gebruikt van het target pseudo-element. */   
    display: none;
}

.floor:target {
    display: block;
}