/*
    Footer
*/

footer{
    text-align: right;
    font-size: 80%;
    padding-right: 1.5em;
    padding-top: 0.5em;
    color: #666;
    text-shadow: 0.03em 0.03em #aaa;
}

footer a{
    color: #666;
    text-decoration: none;
}