@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-r86r1j');
	src:url('fonts/icomoon.eot?#iefix-r86r1j') format('embedded-opentype'),
		url('fonts/icomoon.woff?-r86r1j') format('woff'),
		url('fonts/icomoon.ttf?-r86r1j') format('truetype'),
		url('fonts/icomoon.svg?-r86r1j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	 /*Better Font Rendering ===========*/ 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon:before{
    display: block;
    content: attr(data-icon);
    font-family: 'icomoon';
    opacity: 0.8;
}

/*grootte iconen naargelang tile waarop ze gepresenteerd worden*/

._1x2x1 > .icon{
    font-size: 1300%;
}

._2x2x5 > .icon{
    font-size: 400%;
}

._3x2x5 > .icon{
    font-size: 1000%;
}

._1x3x1 > .icon{
    font-size: 1200%;
}

._2x3x1 > .icon{
    font-size: 1300%;
}

/*andere aanpassingen iconfonts naargelang tile waarop ze staan*/

._2x2x5 .icon:before{
    margin-top: 3%;
}

/* Reusable, toolbox kind of class
      voor screen readers, op die manier
      kunnen de readers lezen waarvoor
      de knop staat; de tekst is zelf
      niet zichtbaar op het scherm door negatieve
      waarden toe te kennen aan top en left */
.screen-reader-text { 
  position: absolute;
  top: -9999px;
  left: -9999px;
}