/*
    POPUPS
*/

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-r86r1j');
	src:url('fonts/icomoon.eot?#iefix-r86r1j') format('embedded-opentype'),
		url('fonts/icomoon.woff?-r86r1j') format('woff'),
		url('fonts/icomoon.ttf?-r86r1j') format('truetype'),
		url('fonts/icomoon.svg?-r86r1j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*link naar popup onzichtbaar*/
.hiddenanchor{
    display: none;
}

.popup{
    opacity: 0;
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    border: 1px solid black;
}

/* BASISEIGENSCHAPPEN VAN DE POPUPS*/

#profile-input{
    top: 20%;
    left: 27.5%;
    height: 60%;
    width: 45%;
    background-color: rgba(255,255,255,0.8);
}

#login{
    top: 20%;
    left: 27.5%;
    height: 60%;
    width: 45%;
    background-color: rgba(122,138,10,0.95);
}

#register, #users{
    top: 10%;
    left: 27.5%;
    height: 80%;
    width: 45%;
    background-color: rgba(122,138,10,0.95);
}


/*popups zichtbaar maken, gebruik makend van target pseudo-element*/

#to-profile-input:target ~ #profile-input
{
    opacity: 1;
    display: block;
    z-index: 2;
}

#to-login:target ~ #login,
#to-register:target ~ #register,
#to-users:target ~#users
{
    opacity: 1;
    display: block;
    z-index: 10;
}

/*de floor van waaruit wordt geklikt op de achtergrond houden bij profile*/
#to-profile-input:target ~ #tower #third-floor
{
    display: block;
    background-color: #3b444b;
}

/*het zicht van de onderliggende pagina bepalen*/

#to-profile-input:target ~ #tower .room
{
    opacity: 0.2;
    pointer-events: none;
}

#to-login:target ~ #tower{
    opacity: 0.4;
    pointer-events: none;
}

#to-register:target ~ #tower,
#to-users:target ~ #tower{
    background-color: rgba(122,138,10,0.3);
}


/* bij een popup van membership het usericoon niet tonen*/
#to-login:target ~ #tower #userIcon,
#to-register:target ~ #tower #userIcon,
#to-users:target ~ #tower #userIcon{
    display: none;
}

/* ELEMENTEN OP DE POPUPS*/

.close-popup{
    float: right;
    color: white;
    font-size: 200%;
    text-decoration: none;
}

.close-popup:hover{
    color: Red;
}

.popup-header{
    background-color: rgba(0,0,0,0.6);
    padding: 0.75em;
    border-bottom: 1.2px solid black;
}

.popup .feedback{
    padding-top: 1em;
    color: white;
    text-shadow: 0.05em 0.05em red;
    text-transform: uppercase;
    font-size: 90%;
}

.popup div{
    float: left;
    text-align: right;
    padding-right: 1em;
}

.popup h1{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0.1em 0.1em rgb(159,79,79);
}

.popup input, .popup select{
    height: 2em;
    margin-top: 1.5em;
    padding-left: 0.5em;
}

#login div, #register div{
    padding-right: 10%;
    position: relative;
}

#login label, #register label{
   width: 30%;
   padding-right: 0.5em;
   text-align: left;
}

#login input, #register input, #register select {
    width: 50%;
    padding-left: 2.5em;
    border: 1px solid rgba(0,0,0,0.5);
}

#login label[data-icon]:after,
#register label[data-icon]:after {
    position: absolute;
    top: 1.6em;
    right: 52%;
    font-family: 'icomoon';
    content: attr(data-icon);
    color: grey;
}

#users ul li{
    background-color: rgba(255,255,255,0.4);
    width: 95%;
    margin: 1em 0em 0em 1em;
    padding: 0.5em;
    list-style: none;
    color: #000;
    text-align: center;
}

#users ul li:hover,
#users ul li[class*="selected"]{
    background-color: rgba(0,0,0,0.4);
    color: white;
}

#users ul li[class*="selected"]:after{
    font-size: 125%;
    font-family: icomoon;
    content: "#";
    float: right;
}

/*buttons */

.popup button:not([class="image-button"]){
    height: 40%;
    width: 40%;
    background-color: rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.4);
    color: #fff;
    font-size: 250%;
    margin-top: 1.5em;
    margin-left: 0.2em;
}

.popup button[class="image-button"]{
    display: none;
    padding: 0.2em 0.5em;
    border: 1px solid #000;
}

.popup button[class="membership-button"]{
    height: 30%;
    width: 40%;
    background-color: rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.4);
    color: #fff;
    font-size: 120%;
    text-transform: uppercase;
    margin-top: 2.5em;
    margin-left: 0.2em;
}

#users button{
    text-transform: none;
}

.popup button:nth-child(1){
    text-shadow: 0.05em 0.05em red;
}

.popup button:nth-child(2){
    text-shadow: 0.05em 0.05em green;
}

.popup button:hover{
    background-color: rgba(0,0,0,0.3);
    color: #000;
}

/*profile afbeelding/canvas*/

.popup .picture{
    display: block;
    color: rgba(255,255,255,0.4);
    font-size: 1250%;
    margin-top: 10%;
}

#image-profile-popup{
    height: 70%;
    width: 70%;
    border: 1px solid rgba(0,0,0,0.6);
    margin-top: 0.5em;
}

#canvas-profile-popup{
    display: none;
    height: 70%;
    width: 70%;
    border: 1px solid rgba(0,0,0,0.6);
    margin-top: 0.5em;
}

#scaleImageFit, #scaleImageFill{
    width: 15%;
}