/* 
    room 
*/

.room{
    height: 90%;
    width:  100%;
    /* schuif verticaal als inhoud te groot wordt */
    overflow-y: auto;
    background: url('../images/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
 }

.room h1, .room h2{
    height: 30%;
    padding-top: 0.5em;
}

.room h3{
    height: 8%;
    text-transform: uppercase;
    padding-top: 0.3em;
    margin: 0.2em 0.5em 0em 0.5em;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.7);
}