/*
    Tile
*/

.tile{
    text-align: center;
    position: relative;
    float: left;
    color: #fff;
}

.room .tile{
    padding: 1%;
    /* om achtergrond te kunnen zien door de padding */
    background-clip: content-box; 
    -moz-background-clip: content;     
    -webkit-background-clip: content;  
}

/*dit geeft het zoom effect bij hover*/
.tile:not([class*="nozoom"]):hover{
    padding: 0.5%;
}


/*  TILE SIZES  */

/*1 per rij, 1 hoog*/
._1x1x1{
    width: 100%;
    height: 100%;
}

/*1 per rij, 2 hoog*/
._1x1x2{
    width: 100%;
    height: 50%;
}

/*1 per rij, 3 hoog*/
._1x1x3{
    width: 100%;
    height: 33.33%;
}

._2x1x3{
    width: 100%;
    height: 66.66%;
}


/*1 per rij, 5 hoog*/
._1x1x5{
    width: 100%;
    height: 20%;
}

._2x1x5{
    width: 100%;
    height: 40%;
}

._3x1x5{
    width: 100%;
    height: 60%;
}

._4x1x5{
    width: 100%;
    height: 80%;
}

/*1 per rij, 10 hoog*/
._1x1x10{
    width: 100%;
    height: 10%;
}

/*2 per rij, 1 hoog*/
._1x2x1{
    width: 50%;
    height: 100%;
}

/*2 per rij, 2 hoog*/
._1x2x2{
    width: 50%;
    height: 50%;
}

/*2 per rij, 3 hoog*/
._1x2x3{
    width: 50%;
    height: 33.33%;
}

._2x2x3 {
    width: 50%;
    height: 66.66%;
}

/*2 per rij, 5 hoog*/
._1x2x5{
    width: 50%;
    height: 20%;
}

._2x2x5 {
    width: 50%;
    height: 40%;
}

._3x2x5 {
    width: 50%;
    height: 60%;
}

._4x2x5 {
    width: 50%;
    height: 80%;
}
    

/*3 per rij, 1 hoog*/
._1x3x1{
    width: 33.33%;
    height: 100%;
}

._2x3x1{
    width: 66.66%;
    height: 100%;
}

/*3 per rij, 2 hoog*/
._1x3x2{
    width: 33.33%;
    height: 50%;
}

/*3 per rij, 3 hoog*/
._1x3x3{
    width: 33.33%;
    height: 33.33%;
}

/*4 per rij, 2 hoog*/
._1x4x2{
    width: 25%;
    height: 50%;
}

/*14 per rij, 1 hoog*/
._1x14x1{
    width: 7%;
    height: 100%;
}


/* MASKER op de tiles */


/*  clickable tile or mask
    a little usability fix applied via class, and a toolbox class 
    for hiding the text but leaving it accessible */
a.tile, a.mask {
    text-decoration: none;
    display: inline-block; /* Fix for clickability issue in WebKit */
    color: #fff;
}

.tile h1 {
    text-transform: uppercase;
    margin-top: 2%;
}

.tile .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*masker wordt onzichtbaar gemaakt omdat deze enkel
    zichtbaar moet zijn bij het hoveren over de tegel*/
    display: none;
    padding: 5%; 
    font-size: 110%;    
}

.tile .mask h2 {
    text-transform: uppercase;
}

.tile .mask p {
    font-style: italic;
}

.tile .mask .action {
    position: absolute;
    top: 65%;
    left: 25%;
    width: 50%;
    padding: 2% 2%;
    background: rgba(12,12,12, 0.4);
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
}

/*om het masker zichtbaar te maken bij het
    hoveren over de tegel*/
.tile:hover .mask {
    display:  block;
}

/*wanneer masker zichtbaar wordt moeten de gegevens op
    de tile onzichtbaar worden */
.tile:hover .mask~h1,
.tile:hover .mask~span:before,
.tile:hover .mask~span
 {
    display: none;
}