<h1>stshbe1q_cyl</h1>

<h3>Cyl</h3>

<div>
<h2>Key</h2>

<h3>Extend</h3>

<table border="1" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>HTML fieldset</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>PK</td>
			<td>YES</td>
			<td>INTEGER</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sluitplannen</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdMasterKeyPlan</td>
			<td>IdSluitplan</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>INTEGER</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>MasterKeyPlan</td>
			<td>Id</td>
			<td>NA</td>
			<td>Sluitplannen</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>idMasterKeyPlan</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdKeyCode</td>
			<td>IdCode</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>INTEGER</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>KeyCode</td>
			<td>Id</td>
			<td>NA</td>
			<td>Sluitplannen</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>idKeyCode</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>Naam</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>VARCHAR</td>
			<td>10</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sluitplannen</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>name</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Index</td>
			<td>Index</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>INTEGER</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sluitplannen</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>index</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>InitialQuantity</td>
			<td>Beginaantal</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>INTEGER</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sluitplannen</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>initialQuantity</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Backorder</td>
			<td>Nabesteld</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>INTEGER</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sluitplannen</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>backorder</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>
