<h1>stshbe1q_cyl</h1>

<h3>Cyl</h3>

<div>
<h2>KeyCode</h2>

<h3>Extend</h3>

<table border="1" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>HTML fieldset</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>PK</td>
			<td>YES</td>
			<td>INTEGER</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sluitplannen</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Passive</td>
			<td>Passief</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>INTEGER</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sluitplannen</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>passive</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Lateral</td>
			<td>Lateraal</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>INTEGER</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sluitplannen</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>lateral</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Active</td>
			<td>Actief</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>INTEGER</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sluitplannen</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>active</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>
