<h1>stshbe1q_cyl</h1>

<h3>Cyl</h3>

<div>
<h2>MasterKeyPlan</h2>

<h3>Extend</h3>

<table border="1" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<td>Column Name</td>
			<td>Display Text</td>
			<td>Searchable</td>
			<td>Default Value</td>
			<td>Unique</td>
			<td>Type</td>
			<td>Length</td>
			<td>Variable</td>
			<td>International</td>
			<td>Required</td>
			<td>Reference Table</td>
			<td>Reference Column</td>
			<td>Display Column</td>
			<td>HTML fieldset</td>
			<td>HTML element</td>
			<td>HTML type attribute</td>
			<td>HTML name attribute</td>
			<td>HTML pattern attribute</td>
			<td>HTML title attribute</td>
			<td>HTML placeholder attribute</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Id</td>
			<td>NA</td>
			<td>NO</td>
			<td>PK</td>
			<td>YES</td>
			<td>INTEGER</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sluitplannen</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>id</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>IdProfile</td>
			<td>IdProfile</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>INTEGER</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>Profile</td>
			<td>Id</td>
			<td>NA</td>
			<td>Sluitplannen</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>idProfile</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Number</td>
			<td>Sluitplannummer</td>
			<td>YES</td>
			<td>NO</td>
			<td>YES</td>
			<td>VARCHAR</td>
			<td>20</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sluitplannen</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>number</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Date</td>
			<td>Datum</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>DATE</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>YES</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sluitplannen</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>date</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Invoice</td>
			<td>Factuur</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
			<td>VARCHAR</td>
			<td>50</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sluitplannen</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>invoice</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>Omschrijving</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>VARCHAR</td>
			<td>1000</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
			<td>Sluitplannen</td>
			<td>INPUT</td>
			<td>HIDDEN</td>
			<td>description</td>
			<td>NA</td>
			<td>NA</td>
			<td>NA</td>
		</tr>
	</tbody>
</table>
</div>
